body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}
.neon-button{
    position: relative;
    font-size: 4rem;
    color: fuchsia;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: fuchsia 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em fuchsia;
    box-shadow: inset 0 0 1em 0 fuchsia,
    0 0 1em 0 fuchsia;
    transition: background-color 100ms linear;
}
.neon-button::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background: fuchsia;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
.neon-button:focus,
.neon-button:hover{
    background-color: fuchsia;
    color: black;
    text-shadow: none;
}
.neon-button::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em fuchsia;
    opacity: 0;
    transition: opacity 100ms linear;
}
.neon-button:hover::before,
.neon-button:hover::after{
    opacity: 1;
}
.neon-button:focus::before,
.neon-button:focus::after{
    opacity: 1;
}

